{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
{% if user.is_authenticated %}
Profile - {{ user.username|title }}
{% else %}
Log in
{% endif %}
{% endblock %}
{% block description %}
{% endblock %}
{% block breadcrumps %}
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <nav style="height: 100%" class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" id="link-list" href="{% url 'dashboard' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="link-list" href="{% url 'profile' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="link-list" href="{% url 'group' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            Your group
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="link-list" href="{% url 'waybill' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-file">
                                <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                <polyline points="13 2 13 9 20 9"></polyline>
                            </svg>
                            Waybill
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="profile__descriptions">
                <h1>Profile</h1>
                <p>name :</p><span> {{ user.first_name|title }} {{ user.last_name|title }}</span><br/>
                <p>login :</p><span> {{ user.username|title }}</span><br/>
                <p>email :</p><span> {{ user.email }}</span><br/>
                <p>phone number :</p><span> {{ user.number }}</span><br/>
                <hr/>
                <p>billing address :</p>
                <span> {{ user.address|title }} , {{ user.country|title }} , {{ user.city|title }} ,
                        {{ user.zip|title }}</span><br/>
                <p>shipping address :</p><span> {{ user.shipping_address|title }}
                    {{ user.shipping_country|title }}  {{ user.shipping_city|title }}
                        {{ user.shipping_zip|title }}</span><br/>
            </div>
        </main>
    </div>
</div>

{% endblock %}