{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}
        Dropshipping
        {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'lib/node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block description %}

    {% endblock %}


</head>
<body>
<nav class="main__menu navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand navbar-text" href="{% url 'login' %}">Dropshipping</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login' %}">Home <span class="sr-only"></span></a>
            </li>
        </ul>
        <i class="fa fa-user-o" aria-hidden="true"></i>

        <span class="glyphicon glyphicon-user">

                               <a class="text-white" href="{% url 'profile' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" color="white" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path
                                        d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7"
                                                                                                     r="4"></circle></svg>
                               Profile
                               </a>
              <a class="text-white" href="{% url 'auth_logout' %}"><svg xmlns="http://www.w3.org/2000/svg" color="white"
                                                                        width="24" height="24" viewBox="0 0 24 24"
                                                                        fill="none" stroke="currentColor"
                                                                        stroke-width="2" stroke-linecap="round"
                                                                        stroke-linejoin="round"
                                                                        class="feather feather-log-out"><path
                      d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line
                      x1="21" y1="12" x2="9" y2="12"></line></svg>
              Log out
              </a>
    </span>
        {% else %}
        <li class="nav-item active">
        </li>
        </ul>
        <i class="fa fa-user-o" aria-hidden="true"></i>

        <span class="glyphicon glyphicon-user">
              <a class="text-white" href="{% url 'login' %}">
                  <svg xmlns="http://www.w3.org/2000/svg" color="white" width="24" height="24" viewBox="0 0 24 24"
                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline
                          points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
              Log in
              </a>
    </span>
        {% endif %}
    </div>

</nav>


{% block breadcrumps %}

{% endblock %}


{% block content %}

{% endblock content %}
{% block footer %}
</div>
</div>
<div id="footer">
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Developed by Stem SC</span>
            <p style="display: inline;float: right;" class="text-muted">&copy; 2018</p>
        </div>
    </footer>
</div>
{% endblock %}

<script src="{% static 'lib/node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'lib/node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/dashboard/popper.min.js' %}"></script>
<script src="{% static 'js/dashboard/feather.min.js' %}"></script>
<script src="{% static 'js/dashboard/Chart.min.js' %}"></script>
<script src="{% static 'js/dist/inputmask/inputmask.js' %}"></script>
<script src="{% static 'js/dist/inputmask/inputmask.extensions.js' %}"></script>
<script src="{% static 'js/dist/inputmask/inputmask.numeric.extensions.js' %}"></script>
<script src="{% static 'js/dist/inputmask/inputmask.date.extensions.js' %}"></script>
<script src="{% static 'js/dist/inputmask/inputmask.phone.extensions.js' %}"></script>
<script src="{% static 'js/dist/inputmask/jquery.inputmask.js' %}"></script>
<script src="{% static 'js/dist/inputmask/phone-codes/phone.js' %}"></script>
<script src="{% static 'js/dist/inputmask/phone-codes/phone-be.js' %}"></script>
<script src="{% static 'js/dist/inputmask/phone-codes/phone-ru.js' %}"></script>

<script>
    $('#id_number').inputmask("phone", {
        onKeyValidation: function () { //show some metadata in the console
            console.log($(this).inputmask("getmetadata")["city"]);
        }
    });
</script>
{% block dashboard %}

{% endblock %}

</body>

</html>
