{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}
        <title>Dropshipping</title>
    {% endblock %}
    <link rel="stylesheet" href="/media/css/style.css">

    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon">
    {% block description %}

    {% endblock %}


</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand navbar-text" href="{% url 'login' %}">Dropshipping</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Home <span class="sr-only"></span></a>
      </li>
    </ul>
      <i class="fa fa-user-o" aria-hidden="true"></i>

    <span class="glyphicon glyphicon-user">

                               <a class="text-white" href="{% url 'profile' %}">
                                <svg xmlns="http://www.w3.org/2000/svg" color="white" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                               Profile
                               </a>
              <a class="text-white" href="{% url 'auth_logout' %}"><svg xmlns="http://www.w3.org/2000/svg" color="white" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
              Log out
              </a>
    </span>
      {% else %}
           <li class="nav-item active">
      </li>
    </ul>
      <i class="fa fa-user-o" aria-hidden="true"></i>

    <span class="glyphicon glyphicon-user">
              <a class="text-white" href="{% url 'login' %}">
                  <svg xmlns="http://www.w3.org/2000/svg" color="white" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
              Log in
              </a>
    </span>
      {% endif %}
  </div>

</nav>


{% block breadcrumps %}

{% endblock %}


{% block content %}

{% endblock content %}
{% block footer %}
    </div>
    </div>
    <div id="footer">
        <footer class="footer">
            <div class="container">
                <span class="text-muted">Developed by Stem SC</span>
            </div>
        </footer>
    </div>
{% endblock %}


<script src="/media/Dashboard Template for Bootstrap_files/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="/media/Dashboard Template for Bootstrap_files/popper.min.js"></script>
<script src="/media/Dashboard Template for Bootstrap_files/bootstrap.min.js"></script>
<script src="/media/js/jquery-3.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<!-- Icons -->
<script src="/media/Dashboard Template for Bootstrap_files/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Graphs -->
<script src="/media/Dashboard Template for Bootstrap_files/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
            datasets: [{
                data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>


</body>

</html>
